@model OpmPatientsSite.Models.Login.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "";

}
<link href="~/Content/Login/login.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Login/login.js"></script>

<div class="login-page">
    <div class="form">
        <img src="~/Images/logo2-01.jpg" alt="opm-logo" width="240" style ="margin-bottom: 20px"/>
        <h3 style ="color: #008000">Expediente Pacientes</h3>
        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new {id = "Form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <input type="text" placeholder="Usuario" id = "Username" name = "Username"/>
            <input type="password" placeholder="Contraseña" id = "Password" name = "Password"/>
            <button type="submit">login</button>   
        }
    </div>
</div>

