
@{
    ViewBag.Title = "Login";
    Layout = "";
}
<link href="~/Content/Login/login.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Login/login.js"></script>
<div class="login-page">
    <div class="form">
        <img src="~/Images/logo2-01.jpg" alt="opm-logo" width="240" style ="margin-bottom: 20px"/>
        <h3 style ="color: #008000">Expediente Pacientes</h3>
        <form class="login-form">
            <input type="text" placeholder="Usuario"/>
            <input type="password" placeholder="Contraseña"/>
            <button>login</button>
        </form>
    </div>
</div>

